<?xml version="1.0"?>
<!-- 
/**
 * Fahim software.
 * @category Fahim
 * @package Fahim_ZipCodeValidator
 * @author Fahim
 * @copyright Copyright (c) Fahim Software Private Limited (https://Fahim.com)
 * @license https://store.Fahim.com/license.html
 */ 
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Fahim_ZipCodeValidator" />
</config>